@import '_vars';
@import '_global';
@import '_fonts';

//start header

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color:#fff;
        font-size: 14px;
    }
}
.header__circle{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    & + .header__circle{
        margin-left: 15px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -9px;
        top: -9px;
        font-size: 11px;
        color: #fff;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.notification{
    span{
        background-color: $yellow;
    }
}
.message{
    span{
        background-color: $tomato;
    }
}
.basket{
    margin-right: 20px;
    span{
        background-color: $green;
    }
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
      display: block;
    }

}
.user{
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before{
        content: '\f107';
        font-family: 'icomoon';
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 0;
        position: absolute;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{
        width: 34px;
        height: 34px;
        margin-right: 15px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info{
        font-size: 14px;
        line-height: 24px;
    }
    &__name{
        @include f500;
        color: #222;
    }
    &__money{
        color: $green;  
        @include f700;
    }
}
.user__menu{
    border: 0px solid rgb(204, 204, 204);
    height: 0;
    position: absolute;
    top: 69px;
    left: 20px;
    background-color: #fff;
    padding:0px 20px;
    width: 158px;
    transition: all .3s;
    overflow: hidden;
    a{
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}

.user__box,
.basket__box,
.message__box,
.notification__box{
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}
.circle__menu{
    position: absolute;
    border: 1px solid #e0e0e0;
    top: 62px;
    right: 0;
    overflow: hidden;
    height: 0;  
    z-index: 1; 
}
.basket__box,
.message__box,
.notification__box{
    margin-top: 54px;
    margin-left: 15px;
    &:hover{
        .header__circle::before{
            color: $bg;
        }
        .circle__menu{
            overflow: hidden;
            height: auto;
        }
        .circle__item{
            padding: 23px;
            border-width: 1px;
        }
    }
}
.circle__item{
    transition: all 0.3s; 
    background-color: #fff;
    border-left-width: 1px;
    border-right-width: 1px;
    padding:0 23px;
    border: 0px solid #e0e0e0;
    border-top: none;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    &::before{
        position: absolute;
        right: 28px;
        top: 27px;
        color: #b0bec5;
        font-size: 16px;
    }
}
.circle__images{
    margin-right: 15px;

}
.circle__info{
    line-height: 18px;
    &-name{
       @include f500;
       color: $bg;
    }
    &-thema{
        font-size: 12px;
        color: $green;
    }
    &-price{
        @include f500;
        color: #000;
        font-size: 16px;
    }
    &-date{
        font-size: 10px;
        color: #707070;
    }
}
.basket__summ{
    padding: 16px 17px 12px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}
.basket__title{
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    @include f700;
    font-size: 16px;
    color: $bg;
}
.basket__btn{
    @include f700;
    color: #fff;
    font-size: 14px;
    padding: 12px 5px;
    background-color: $green;
    text-align: center;
    width: 100px;
}
.basket__btn-checkout{
    width: 123px;
    margin-left: 6px;
    background-color: $tomato;
}
.notification__menu,
.message__menu{
     .circle__images{
         margin-right: 20px;
         width: 48px;
         height: 48px;
         border-radius: 50%;
     }
}
.icons-color::before{
    color: $tomato;
}
.header__btn-menu,
.menu__btn{
    display: none;
}
  
//end header

//start modal

#modal{
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
}
.login__wrapper{
    form{
        max-width: 400px;
        margin: 0 auto;
    }
    label{
      position: relative;
      display: block;
      width: 100%;
      &::before{
          position: absolute;
          font-family: 'icomoon';
          font-size: 14px;
          color: #fff;
          left: 18px;
          top: 9px;
      }
    }
    .login__label-name::before{
        content: "\f007";
    }
    .login__label-pass::before{
        content: "\f023";
    }
    input{
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        font-size: 14px;
        padding-left: 40px;
        display: block;
        width: 100%;
        &::placeholder{
            color: #fff;
        }
    }
    button{
        margin-top: 19px;
        padding: 18px 0 16px;
        background-color: #fff;
        width: 140px;
        border: none;
        text-transform: uppercase;
        margin-right: 10px;
        @include f700;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
        text-align: center;
        color: #000;
    }
}
.login__title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
    color: #fff;
    @include f700;
    text-transform: uppercase;
}
.creat-acc{
    margin-top: 19px;
    padding: 15px 0 15px 28px;
    padding-left: 65px;
    background-color: #76ae36;
    width: 246px;
    color: #fff;
    font-size: 18px;
    position: relative;
    &::before{
        content: "\f044";
        font-family: 'icomoon';
        font-size: 18px;
        position: absolute;
        top: 15px;
        left: 35px;
    }
}
.lost-pass{
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}
.fancybox-button svg path{
    fill: #fff; 
}
  
//end modal

//start search
.search{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;  
    &.page-search{
        min-height: 230px; 
        .search__inner{
            padding: 55px 0 70px;
            &-text{
                margin-bottom: 20px;
            }
        }

    }  
}
.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    &-title{
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 10px;
        @include f700;
    }
    &-text{
        font-size: 20px;
        margin-bottom: 50px;
        @include f500;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            height: 56px;
            border: none;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            font-size: 14px;
            @include f500;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;
            &:focus{
                border: 1px solid $green;
            }
           
            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;        
        }
    }
}
//end search

//start products
 .products{
    padding: 110px 0;
    background-color: $grey;
 }
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
        
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
     &-title{
        display: block;
        font-size: 18px;
        color: $bg;
        @include f700;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        @include f700;
        font-size: 20px;
        color: $bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 70px;

    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
          min-width: 30px;
          height: 30px;
          border-radius: 50%;
          background-position: center;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
          margin-right: 14px;
        }
        span{
        font-size: 14px;
        @include f500;
        }         
    }
    &-star{
        font-size: 12px;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    text-align: center; 
    button{
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
    
}
//end products
//start products-slider

.products-slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 4px;
            cursor: pointer;
            &.slick-active{
                button{
                    background-color: $green;
                }
                
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
            }
            
        }
    }

}
//end products-slider
//start adventages
.adventages{
    background-color: $bg;
    padding: 110px 0;
}
.adventages__title{
    color: #fff;

}
.adventages__inner{
    display: flex;
    justify-content: space-between;
}
.adventages__item{
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    
    &:hover{
        .adventages__item-images{
            background-color: $green;
            svg{
                fill: #fff;
            }
        }
        .adventages__item-title{
            color: $green;
        }

    }
    &-images{
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .3s;
        svg{
            width: 70px;

        }
    }
    &-title{
        margin-bottom: 25px;
        color: #fff;
        font-size: 24px;
        @include f500;
        transition: all .3s;
    }
    &-text{
        font-size: 15px;
        color: #fff;
    }

}
//end adventages
//start author
.author{
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 min-height: 750px;
 display: flex;
 justify-content: center;
 align-items: center;
 &__box{
     max-width: 650px;
     width: 100%;
     min-height: 215px;
     background-color: $green;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 &__title{
     font-size: 30px;
     line-height: 30px;
     color: #fff;
     max-width: 260px;
     margin-right: 45px;
     span{
         @include f700;
     }

 }
 &__link{
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
 }
}

//end author
//start tutorial
.tutorial{
    padding: 70px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-images{
        min-height: 270px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        

    }
    &-title{
        @include f700;
        font-size: 24px;
        text-align: center;
        color: $bg;
        padding: 30px 10px;
    }
}

//end  tutorial

//start footer
.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-menu{
        max-width: 220px;
        
    }
    &-title{
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-weight: 700;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 51px;
            height: 3px;
            bottom: 0;
            left: 2px;
            background-color: $green;
        }
    }
    &-text{
        font-size: 15px;
        color: #b7c3c8;
    }
}  
.footer__info{
    color: #fff;
    margin-top: 18px;
    @include f500;
    padding-left: 30px;
    position: relative;
    &::before{
        content: '\f041';
        font-family: 'icomoon';
        color: $green;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
}
.footer__info-phone{
    &::before{
        content: '\f095';
    }
}
.footer__col-list{
    a{
        margin-bottom: 15px;
        color: #b7c3c8;
        padding-left: 20px;
        position: relative;
        &::before{
            content: '\f054';
            font-family: 'icomoon';
            color: $green;
            font-size: 14px;
            position: absolute;
            left: 0;    

        }
    }

}
.footer__copy{
    border-top: 1px solid #424d53;
}
.footer__copy-text{
    text-align: center;
    font-size: 15px;
    padding: 25px 0 30px;

}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        & + li{
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
    }
}
.link-twitter{
    background-position: -28px 0;
}
.link-youtube{
    background-position: -56px 0;
}
.link-pinterest{
    background-position: -84px 0;
}
.link-linkedlin{
    background-position: -112px 0;
}
.footer__form-title{
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}
.footer__form{
    position: relative;
    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: #fff;
        padding: 0 50px 0 13px;
        &::placeholder{
            color: #697378;    
            
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
            top: 10px;
            right: 15px;
        }

    }
}

  
//end footer

// start product-page
.product-page__inner{
    display: flex;

}
.product-page__aside{
    margin-right: 30px;

}
.aside__item{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}
.aside__title{
    border-bottom: 1px solid  #dde3e8;
    font-size: 20px;
    color: $bg;
    @include f700;
    padding: 22px 0 19px;

}
.category__list{
    padding-top: 10px;
    li{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        &::before{
            content: '\f054';
            font-family: 'icomoon';
            color: $green;
            font-size: 12px;
            position: absolute;
            left: 0;
        }  
    }
    a{
        color: $bg;
    }
    span{
        color: #90a4ae;
        margin-left: 10px;
    }
}
.price-range{
    form{
        padding-top: 20px;
    }
    button{
        margin-top: 55px;
        padding: 16px 10px;
        background-color: $green;
        text-align: center;
        color: #fff;
        @include f500;
        width: 100%;
        display: block;
        cursor: pointer;
        border: none;
        position: relative;
        &::before{
            content: '\f002';
            font-family: 'icomoon';
            color: #fff;
            font-size: 15px;
            position: absolute;
            top: 15px;
            left: 60px;
        }
    }
}
.irs-min,
.irs-max{
    display: none;
   
}
.irs--flat .irs-line{
    color: #f2f5f8;
    height: 5px;
}
.irs--flat .irs-bar{
    background-color: $bg;
    height: 5px;
}
.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    border-radius: 50%;
    top:19px;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs-from, .irs-single, .irs-to{
    top: 45px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
}
.product-page__aside{
    .product__item{
        box-shadow: none;
    }
    .product__item-content{
        min-height: 75px;
        padding: 0;
        border-bottom: none;
    }
    .product__item-img{
        min-height: 120px; 
    }
    .product__item-info{ 
        padding: 0;
        min-height: 0;
    }
    .product__item-title{
        font-size: 16px;   
    }
    .product__item-price{
        font-size: 16px;
    }
    .product__item-starnum{
        display: none;

    }
    .rate-star{
        margin-right: 0;
    }
    .product__item-author .avatar{
        margin-right: 9px;
    }
    .jq-ry-container{
        padding: 0;
    }
    .product__item{
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
    }    
}
.aside__product-item{
        .product__item:last-child{
            border: none;
            padding-bottom: 0;
        }
        .product__item:first-child{
            border-top: 1px solid #dde3e8;
            margin-top: 25px;
        }
}
.top-sellers__link{
    padding: 16px 10px;
    display: block;
    background-color: $green;
    color: #fff;
    text-align: center;
    @include f500;
}

.product-page__filter{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 20px;
    margin-bottom: 30px;
    height: 60px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        cursor: pointer;
        background-color: transparent;
        font-size: 16px;
        border:none;
        color: #90a4ae;
        outline: none;
        &.active{
            color: $green;
        }
    }
}
.product-page__filter-sort{
    color: #707070;
    font-size: 14px;
    display: flex;
    align-items: center;
}
button.icon-sort-amount-desc{
    font-size: 18px;
    color: #455a64;
}
button.icon-sort{
    font-size: 14px;
    color: #707070;
}
.product-page__content{
    width: 100%;
}
.product-page__content{
    .product__item{
        max-width: 270px;
        background-color: #fff;
        transition:  all .5s;
    }
    .product__item-img{
        min-height: 180px;  
    }
    .product__item-content{
        padding: 10px 20px;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-info{
        min-height: 65px;
        padding: 10px 20px;
    }
    .rate-star{
        margin-right: 5px;
    }
}
.product-page__items{
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap; 
    margin-bottom: 30px;
}
.product-page__inner{
    padding-bottom: 110px;
}
.pagination__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 6px;
        }
    }
    a,
    span{
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        width: 43px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-size: 16px;
        @include f500;
        color: $bg;
        &.active{
            color: #fff;
            background-color: $red;
        }
    }
}
.product__item-text{
    display: none;
}
.product__item-price{
    span{
        display: none;
    }
}
.product__item-list{
    display: none;
    .icon-comment-o,
    .icon-heart-o{
        display: inline-block;
        font-size: 12px;
        color: #70838d;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        position: relative;
        span{
            @include f500;
            color: $bg;
        }
        &::before{
            color: $green;
            font-size: 16px;
            position: absolute;
            left: 20px;
            top: 0;
        }
    }
    .icon-comment-o{
        padding-right: 30px;
        &::before{
            top: -2px;
        }
    }

}
.product__item{
    &.list{
        max-width: 100%;
        .product__item-img{
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .product__item-text{
            display: block;
            font-size: 14px;
            color: #70838d;
            margin-bottom: 5px;
            margin-top: 15px;
        }
        .product__item-price{
            font-size: 30px;
            span{
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 30px;
            }
        }
        .product__item-name{
            max-width: 480px;
        }
        .product__item-content{
            padding-left: 23px;
        }
        .product__item-list{
            display: block;
        }
        .product__item-star{
            margin-left: auto;
            margin-right: 30px;

        }
    }
}

// end product-page
// start product one
.product-one{
    padding-bottom: 100px;
}
.product-one__inner{
    display: flex;
}
.product-one__content{
    margin-right: 31px;
    max-width: 870px;

}
.product-one__images-inner{
    background-color: #fff;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

}
.product-one__images{
    max-width: 829px;
    width: 100%;
    height: 422px;
    
    background-image: url(images/content/product.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-one__title{
    font-size: 30px;
    color: $bg;
    line-height: 40px;
    @include f500;
    margin-top: 30px;
    margin-bottom: 20px;
}
.product-one__text{
    font-size: 16px;
    color: #707070;
    margin-bottom: 35px;
    margin-top: 20px;
}
.product-one__box{
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.product-one__link{
    a{
        padding: 16px 8px;
        width: 150px;
        color: $grey;
        font-size: 14px;
        & + a{
            margin-left: 20px;
        }
    }  
}
.link-live{
    background-color: $red;
}
.link-screen{
    background-color: #455a64;
}
.link-doc{
    background-color: $green;
}
.product-one__social{
    a{
     width: 54px;
     height: 50px;
     position: relative;
     & + a{
         margin-right: 3px;
     }
     &::before{
         font-size: 18px;
         color: #fff;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);  
     }
    }
}
.icon-facebook{
    background-color: #6370b6;
}
.icon-twitter{
    background-color: #64b5f6;
}
.icon-linkedin{
    background-color: #4f71ce;
}
.icon-pinterest-p{
    background-color: #d32f2f;
}
.product-one__more-title{
    font-size: 18px;
    @include f500;
    color: $bg;
    padding: 18px 25px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-bottom: 28px;
}
.product-one__more-icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.productmini{
    margin-bottom: 27px;
    display: flex;
    height: 90px;
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.productmini__images{
    width: 100px;
    margin-right: 20px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.productmini__name{
    @include f500;
    font-size: 14px;
    color: $bg;
}
.productmini__thema{
   color: $green;
   font-size: 12px;
}
.productmini__price{
   @include f700;
   font-size: 18px;
   color: $bg;
} 
.product-one__tabs{
    margin-bottom: 55px;
}
.tabs{
   display: flex;
   text-align: center;
   border: 1px solid #d7d7d7;
   .tab{
       width: 100%;
       background-color:#fff;
       font-size: 16px;
       color: #70838d;
       padding: 20px 0;
       cursor: pointer;
       & + .tab{
           border-left: 1px solid #d7d7d7;
       }
   }
}
.tab_content{
    border: 1px solid #d7d7d7;
    border-top: none;
    background-color: #fff;
    padding: 30px 50px;
}
.tab-item{
    display: none;
    &:first-child{
        display: block;
    }
}
.tab-item__list{
    font-size: 16px;
    line-height: 36px;
    color: #707070;
    column-count: 2;
    column-gap: 25px;
    li{
        min-width: 270px;
        width: 100%;
    }
}
.price__box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.price__product{
    font-size: 22px;
    @include f500;
    color: $red;
}
.product__price{
    button{
        margin-bottom: 7px;
        box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
        border: none;
        background-color: $text;
        color: #fff;
        font-size: 16px;
        text-align: center;
        display: block;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 700;
        width: 100%;
        padding: 17px 5px 15px;
        cursor: pointer;
        &::before{
            font-weight: 400;
            font-family: 'icomoon';
            padding-right: 8px;
        }
    }
    .icon-shopping-cart{
        background-color: $green;
    }
    .icon-heart-o{
        background-color: #42a5f5;
    }
}
.product-author__box{
    padding: 25px 0;
    display: flex;
}
.author__avatar{
    margin-right: 14px;
}
.author__name{
    font-size: 18px;
    color: $bg;
}
.author__info-link{
  font-size: 13px;
  color: #707070;
  padding: 6px 9px 5px;
  border: 1px solid #d5d5d5;
}
.author__awards-list{
    li{
        display: inline-block;
        color: #fff;
        font-size: 20px;
        text-align: center;
        position: relative;
        &::before{
            position: absolute;
            top: 6px;
            left: 0;
            right: 0;
        }
        & + li{
            margin-left: 4px;
        }
    }
    .icon-meh-o{
      background-image: url(../images/awards/awards-orange.png);
      width: 34px;
      height: 37px;
    }
    .icon-pagelines{
        background-image: url(../images/awards/awards-red.png);
        width: 34px;
        height: 37px;
    }
    .icon-flash{
        background-image: url(../images/awards/awards-blue.png);
        width: 34px;
        height: 37px;
    }
    .icon-foursquare{
        background-image: url(../images/awards/awards-green.png);
        width: 34px;
        height: 37px;
    }
    .icon-yen{
        background-image: url(../images/awards/awards-grey.png);
        width: 34px;
        height: 37px;
    }
}
.aside__item-sales{
    padding-top: 23px;
    font-size: 16px;
    @include f300;
    span{
        font-size: 20px;
        @include f700;
        color: #263228;
        padding-right: 13px;
        &::before{
          content: '\f07a';
          padding-right: 20px;
          font-family: 'icomoon';
          color: #a6b5bb;
        }
    }
}
.aside__item .sales-number{
    padding-bottom: 25px;
}
.information__line{
    font-size: 14px;
    color: #70838d;
    margin-top: 20px;
    line-height: 18px;
    span{
       color: $bg;
       @include f500;
    }
}
  
// end product one

@import 'media';